html,body
{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: whitesmoke;
}

.top
{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 0px 10px #acacac;
}

.topup
{
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    justify-content: flex-end;
    height: 40px;
    padding-right: 12%;
    
}

.topup p
{
    margin-right: 15px;
    font-size: 13px;
}

.topdown
{
    display: flex;
    background-color: white;
    padding-left: 10%;
    height: 90px;
    justify-content: space-between;
}

.midwrap
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 17px;
    width:1147px;
    height:388px;
}

.info
{
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 35px #dddddd;
}

.electricg
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.pictureg
{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.items
{
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    width: 100%;
    height: 100%;
}

.filter
{
    background-color: white;
    width: 400px;
    height: 500px;
    margin-right: 25px;
    box-shadow: 0px 0px 35px #dddddd;
}

.pricefilter
{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.sortprice
{
    display: flex;
    flex-direction: row;     
    height: 30px;
}

.itemslist
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 815px;
    height: auto;
}

.card
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 248px;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(235, 235, 235);    
    
}

.card p
{
    padding-bottom: 10px;
}

.card img
{
    padding-top: 35px;
    width:130px;
    height:175px;
}