html,body
{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: whitesmoke;
}

.top
{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 0px 10px #acacac;
}

.topup
{
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    justify-content: flex-end;
    height: 40px;
    padding-right: 12%;
    
}

.topup p
{
    margin-right: 15px;
    font-size: 13px;
}

.topdown
{
    display: flex;
    background-color: white;
    padding-left: 8%;
    height: 90px;
}

.midwrap
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 17px;
    width: 100%;
    max-width:1147px;
    height: 100%;
    max-height:400px;
}

.info
{
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 35px #dddddd;
}

.electricg
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.pictureg
{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.items
{
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    width: 100%;
    height: auto;
}

.filter
{
    background-color: white;
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 625px;
    margin-right: 25px;
    box-shadow: 0px 0px 35px #dddddd;
}

.pricefilter
{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.sortprice
{
    display: flex;
    flex-direction: row;     
    height: 30px;
    margin-bottom: 2%;
}

.itemslist
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 740px;
    height: auto;
    margin-bottom: 3%;
}

a 
{
    display: block;
    text-decoration: none;
    color: inherit;
    width: 100%;
    max-width: 240.5px;
}

a:hover
{
    animation: mymove 1s infinite, mymovebackg 1s infinite;
    z-index: 10;
    
}

@keyframes mymove 
{
    0% {color:red;}
    25% {color:rgb(255, 157, 0);}
    50% {color: rgb(255, 111, 0);}
    100% {color:purple;}
}

@keyframes mymovebackg
{
    0% {box-shadow: 0px 0px 10px 5px red;}
    25% {box-shadow: 0px 0px 10px 5px rgb(255, 157, 0);}
    50% {box-shadow: 0px 0px 10px 5px rgb(255, 111, 0);}
    100% {box-shadow: 0px 0px 10px 5px purple;}
}

.card
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(235, 235, 235);    
    
}

.card p
{
    padding-bottom: 10px;
}

.card img
{
    padding-top: 35px;
    width:130px;
    height:175px;
}

@media only screen and (max-width: 1000px) {
    .top
    {
        width: 100%;
    }

    .info
    {
        display: none;
    }

    .items
    {
        margin-top: 0;
        flex-direction: column;
        align-items: center;
    }

    .itemslist
    {
        flex-direction: column;
        width: 750px;
        align-items: center;
    }

    .card
    {
        max-width: 475px;
        padding-left: 2%;
        padding-right: 2%;
    }

    .card p
    {
        padding-bottom: 15px;
    }

    .card img
    {
        padding-top: 35px;
        width:260px;
        height:350px;
    }

    .filter
    {
        width: 100%;
        order: 2;
        margin-top: 20px;
        margin-right: 0;
        margin-bottom: 2%;
    }

    .sortprice
    {
        margin-bottom: 4%;
    }

    a 
    {
        display: block;
        width: 100%;
        max-width: 350px;
    }
}