html,body
{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: whitesmoke;
}

.top
{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 0px 10px #acacac;
}

.topup
{
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    justify-content: flex-end;
    height: 40px;
    padding-right: 12%;
    
}

.topup p
{
    margin-right: 15px;
    font-size: 13px;
}

.topdown
{
    display: flex;
    background-color: white;
    padding-left: 8%;
    height: 90px;
}

.middle
{
    display: flex;
    flex-direction: row;
    margin: 1%;
}

.left
{
    background-color: red;
}

.right
{
    background-color: blue;
}